<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PhoneGap Build Java API and Maven Plugin</title>
</head>
<body>
	<h2>Introduction</h2>

	<p>
		This project aims to provide a stand-alone <a
			href="phonegap-build-api/index.html">Java API for communicating
			with the PhoneGap Build REST API</a> and a <a
			href="phonegap-build-maven-plugin/index.html">Maven Plugin for
			building with PhoneGap</a> which makes use of the API to turn WAR
		projects into binaries for mobile platforms.
	</p>

	<h3>Artifacts</h3>

	<p>The latest versions are available from Maven Central -</p>

	<p>API</p>
	<pre>
	&lt;groupId&gt;com.github.chrisprice&lt;/groupId&gt;
	&lt;artifactId&gt;phonegap-build-api&lt;/artifactId&gt;
	&lt;version&gt;${currentStableVersion}&lt;/version&gt;
</pre>
	<p>Maven Plugin</p>
	<pre>
	&lt;groupId&gt;com.github.chrisprice&lt;/groupId&gt;
	&lt;artifactId&gt;phonegap-build-maven-plugin&lt;/artifactId&gt;
	&lt;version&gt;${currentStableVersion}&lt;/version&gt;
</pre>

	<h3>Source</h3>

	<p>
		The source code is hosted on <a
			href="https://github.com/chrisprice/phonegap-build">GitHub</a>.
	</p>

	<h3>Issues</h3>

	<p>
		The bug tracker is also hosted on <a
			href="https://github.com/chrisprice/phonegap-build/issues">GitHub</a>.
	</p>

	<h3>License</h3>

	<p>
		The project is licensed under the <a
			href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache
			License Version 2.0</a>.
	</p>

</body>
</html>